.mobile-menu-btn {
  @include reset-btn;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;

  &:hover,
  &:focus {
    filter: brightness(0.8);
  }
}

.mobile-menu {
  position: fixed;
  width: 320px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);

  // .mobile-menu__nav

  &__nav {
    display: flex;
    flex-direction: column;
    padding: 18px 24px;
    height: 100vh;

    @media screen and (max-height: 700px) {
      overflow-y: scroll;
    }
  }

  // .mobile-menu__header

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 46.46px;
  }

  // .mobile-menu__close-btn

  &__close-btn {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.793 12.257a1 1 0 0 0-1.414 0l-.122.122a1 1 0 0 0 0 1.415L18.464 20l-6.207 6.206a1 1 0 0 0 0 1.415l.122.122a1 1 0 0 0 1.415 0L20 21.536l6.206 6.207a1 1 0 0 0 1.415 0l.122-.122a1 1 0 0 0 0-1.415L21.536 20l6.207-6.207a1 1 0 0 0 0-1.414l-.122-.122a1 1 0 0 0-1.415 0L20 18.464l-6.207-6.207z' fill='%23fff'/%3E%3C/svg%3E");
  }

  // .mobile-menu__logo

  &__logo {
    @include show-logo;
    margin-left: 16.73px;
  }

  // .mobile-menu__search-btn

  &__search-btn {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.5 22h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.26 4.25c.41.41 1.07.41 1.48 0l.01-.01c.41-.41.41-1.07 0-1.48L23.5 22zm-6 0c-2.49 0-4.5-2.01-4.5-4.5s2.01-4.5 4.5-4.5 4.5 2.01 4.5 4.5-2.01 4.5-4.5 4.5z' fill='%23fff'/%3E%3C/svg%3E");
    margin-left: auto;
  }

  // .mobile-menu__ul

  &__ul {
    @include reset-list;
  }

  // .mobile-menu__li

  &__li {
    margin-bottom: 32px;
    position: relative;
  }

  // .mobile-menu__link

  &__link {
    @include reset-link;
    @include tt-500;
    color: $black;
    font-size: 16px;
    display: inline-block;
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;

    &:hover,
    &:focus {
      transform: translateX(10px);
      color: #7e7e82;
    }

    &--active {
      color: #7e7e82;

      &:hover,
      &:focus {
        transform: none;
        color: #7e7e82;
      }

      &:after {
        content: '';
        width: 8px;
        height: 32px;
        background: $green-blue;
        border-radius: 4px;
        position: absolute;
        left: -28px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  // .mobile-menu__footer

  &__footer {
    margin-top: auto;
  }

  // .mobile-menu__footer-btns-container

  &__footer-btns-container {
    display: inline-flex;
    width: 152px;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  // .mobile-menu__phone

  &__phone {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m12.76 23.25 2.54-.29c.61-.07 1.21.14 1.64.57l1.84 1.84c2.83-1.44 5.15-3.75 6.59-6.59l-1.85-1.85a1.99 1.99 0 0 1-.57-1.64l.29-2.52c.12-1.01.97-1.77 1.99-1.77h1.73c1.13 0 2.07.94 2 2.07-.53 8.54-7.36 15.36-15.89 15.89-1.13.07-2.07-.87-2.07-2v-1.73c-.01-1.01.75-1.86 1.76-1.98z' fill='%23fff'/%3E%3C/svg%3E");
  }

  // .mobile-menu__message

  &__message {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12c-1.1 0-1.99.9-1.99 2L10 31l4-5h14c1.1 0 2-.9 2-2V13c0-1.1-.9-2-2-2zm-7 11h-6c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm4-5H15c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1z' fill='%23fff'/%3E%3Cmask id='a' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='10' y='11' width='20' height='20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12c-1.1 0-1.99.9-1.99 2L10 31l4-5h14c1.1 0 2-.9 2-2V13c0-1.1-.9-2-2-2zm-7 11h-6c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm4-5H15c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1z' fill='%23fff'/%3E%3C/mask%3E%3C/svg%3E");
  }

  // .mobile-menu__profile

  &__profile {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath d='M20.5 19a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9zM10.017 26.612c-.13.73.518 1.388 1.322 1.388H28.66c.83 0 1.453-.659 1.323-1.388C29.23 22.4 25.056 20 20 20c-5.057 0-9.231 2.4-9.983 6.612z' fill='%23fff'/%3E%3C/svg%3E");
  }

  // .mobile-menu__footer-contacts-container

  &__footer-contacts-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  // .mobile-menu__email-link

  &__email-link {
    @include reset-link;
    @include tt-500;
    font-size: 16px;
    color: $black;
  }

  // .mobile-menu__phone-link

  &__phone-link {
    @include reset-link;
    @include tt-700;
    font-style: 24px;
    color: $black;
    margin-top: 12px;
  }

  // .mobile-menu__footer-languages-container

  &__footer-languages-container {
    @include reset-list;
    display: flex;
    column-gap: 7px;
    margin-bottom: 13.27px;
  }

  // .mobile-menu__footer-language

  &__footer-language {
  }

  // .mobile-menu__footer-language-link

  &__footer-language-link {
    @include reset-link;
    @include tt-500;
    font-size: 16px;
    color: $black;

    &--active {
      color: #7e7e82;
    }
  }
}
