@font-face {
  font-family: 'TT Lakes';
  src: url('../../assets/fonts/TT_Lakes/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Bold.woff') format('woff'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../../assets/fonts/TT_Lakes/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Medium.woff') format('woff'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../../assets/fonts/TT_Lakes/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Regular.woff') format('woff'),
    url('../../assets/fonts/TT_Lakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
